In [7]:
import pandas as pd

file_path = 'customer_orders.csv'
data = pd.read_csv(file_path)

data.head()

,payment_type,profit_per_order,sales_per_customer,category_id,category_name,customer_city,customer_country,customer_id,customer_segment,customer_state,...,order_region,order_state,order_status,product_card_id,product_category_id,product_name,product_price,shipping_date,shipping_mode,label
0,DEBIT,34.448338,92.49099,9.0,Cardio Equipment,Caguas,Puerto Rico,12097.6830,Consumer,PR,...,Western Europe,Vienna,COMPLETE,191.0,9.0,Nike Men's Free 5.0+ Running Shoe,99.99,2015-08-13 00:00:00+01:00,Standard Class,-1
1,TRANSFER,91.193540,181.99008,48.0,Water Sports,Albuquerque,EE. UU.,5108.1045,Consumer,CA,...,South America,Buenos Aires,PENDING,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2017-04-09 00:00:00+01:00,Standard Class,-1
2,DEBIT,8.313806,89.96643,46.0,Indoor/Outdoor Games,Amarillo,Puerto Rico,4293.4478,Consumer,PR,...,Western Europe,Nord-Pas-de-Calais-Picardy,COMPLETE,1014.0,46.0,O'Brien Men's Neoprene Life Vest,49.98,2015-03-18 00:00:00+00:00,Second Class,1
3,TRANSFER,-89.463196,99.15065,17.0,Cleats,Caguas,Puerto Rico,546.5306,Consumer,PR,...,Central America,Santa Ana,PROCESSING,365.0,17.0,Perfect Fitness Perfect Rip Deck,59.99,2017-03-18 00:00:00+00:00,Second Class,0
4,DEBIT,44.722590,170.97824,48.0,Water Sports,Peabody,EE. UU.,1546.3980,Consumer,CA,...,Central America,Illinois,COMPLETE,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2015-03-30 00:00:00+01:00,Standard Class,1

In [8]:
print(data.isnull().sum())
data.describe()

payment_type                0
profit_per_order            0
sales_per_customer          0
category_id                 0
category_name               0
customer_city               0
customer_country            0
customer_id                 0
customer_segment            0
customer_state              0
customer_zipcode            0
department_id               0
department_name             0
latitude                    0
longitude                   0
market                      0
order_city                  0
order_country               0
order_customer_id           0
order_date                  0
order_id                    0
order_item_cardprod_id      0
order_item_discount         0
order_item_discount_rate    0
order_item_id               0
order_item_product_price    0
order_item_profit_ratio     0
order_item_quantity         0
sales                       0
order_item_total_amount     0
order_profit_per_order      0
order_region                0
order_state                 0
order_status                0
product_card_id             0
product_category_id         0
product_name                0
product_price               0
shipping_date               0
shipping_mode               0
label                       0
dtype: int64

,profit_per_order,sales_per_customer,category_id,customer_id,customer_zipcode,department_id,latitude,longitude,order_customer_id,order_id,...,order_item_product_price,order_item_profit_ratio,order_item_quantity,sales,order_item_total_amount,order_profit_per_order,product_card_id,product_category_id,product_price,label
count,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,...,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000,15549.000000
mean,22.604542,179.888256,31.461342,6583.279789,35458.234968,5.413462,29.677619,-84.512318,6586.810354,35718.970019,...,137.005272,0.120391,2.165202,200.562289,179.780850,22.273342,685.213286,31.387606,136.629368,0.349283
std,99.265198,113.727323,15.303616,4114.273782,37343.702033,1.581550,9.877876,20.681015,4101.324290,21071.742668,...,134.545269,0.474088,1.468627,125.984986,110.999735,117.503163,330.778230,15.256620,133.366285,0.826623
min,-3442.500000,8.351162,2.000000,1.000000,603.000000,2.000000,-33.937553,-158.025990,1.000000,1.000000,...,9.990000,-2.750000,1.000000,9.990000,7.490000,-3442.500000,19.000000,2.000000,9.990000,-1.000000
25%,7.562795,104.397330,18.000000,3119.983200,725.000000,4.000000,18.263327,-98.088170,3177.568800,16530.752000,...,50.000000,0.080000,1.000000,119.980000,105.570910,7.443977,403.000000,18.000000,50.000000,0.000000
50%,31.693370,165.944170,29.000000,6429.229000,19145.775000,5.000000,33.435677,-76.580800,6308.530000,35391.336000,...,59.990000,0.270000,1.000000,199.920000,165.990000,32.440100,627.000000,29.000000,59.990000,1.000000
75%,63.872166,242.440930,45.000000,9642.381000,77502.820000,7.000000,39.277313,-66.370575,9703.070000,55236.910000,...,199.990000,0.360000,3.000000,299.950000,242.436400,64.303566,1004.000000,45.000000,199.990000,1.000000
max,911.800000,1939.990000,76.000000,20757.000000,99205.000000,12.000000,48.781933,115.263080,20757.000000,77204.000000,...,1999.990000,0.500000,5.000000,1999.990000,1939.990000,911.800000,1363.000000,76.000000,1999.990000,1.000000

In [9]:
print(data.columns)

Index(['payment_type', 'profit_per_order', 'sales_per_customer', 'category_id',
       'category_name', 'customer_city', 'customer_country', 'customer_id',
       'customer_segment', 'customer_state', 'customer_zipcode',
       'department_id', 'department_name', 'latitude', 'longitude', 'market',
       'order_city', 'order_country', 'order_customer_id', 'order_date',
       'order_id', 'order_item_cardprod_id', 'order_item_discount',
       'order_item_discount_rate', 'order_item_id', 'order_item_product_price',
       'order_item_profit_ratio', 'order_item_quantity', 'sales',
       'order_item_total_amount', 'order_profit_per_order', 'order_region',
       'order_state', 'order_status', 'product_card_id', 'product_category_id',
       'product_name', 'product_price', 'shipping_date', 'shipping_mode',
       'label'],
      dtype='object')

In [10]:
import pandas as pd

# Assuming 'shipping_date' is confirmed to exist
data['shipping_date'] = pd.to_datetime(data['shipping_date'], errors='coerce', utc=True)

# Calculating shipment duration
data['shipment_duration'] = (pd.Timestamp.now(tz='UTC') - data['shipping_date']).dt.days

# Handling shipment durations: remove or impute invalid durations
median_duration = data['shipment_duration'].median()
data['shipment_duration'] = data['shipment_duration'].apply(lambda x: x if 0 <= x <= 120 else median_duration)

# Removing or filling missing values (if any)
data.ffill(inplace=True)

In [11]:
print(f"Number of rows after handling shipment durations: {data.shape[0]}")

Number of rows after handling shipment durations: 15549

In [12]:
# Example: Calculating total sales per customer
data['total_sales_per_customer'] = data.groupby('customer_id')['sales_per_customer'].transform('sum')

# Example: Calculating number of orders per customer
data['orders_per_customer'] = data.groupby('customer_id')['order_id'].transform('count')

# Dropping that are not useful or redundant for segmentation
data = data.drop(columns=['shipping_date', 'order_date', 'product_name', 'category_name'])

In [13]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Selecting features for modeling
numerical_features = ['profit_per_order', 'sales_per_customer', 'total_sales_per_customer', 'orders_per_customer', 'shipment_duration']
categorical_features = ['payment_type', 'customer_country', 'customer_segment']

# Preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(), categorical_features)
    ])

# Applying preprocessing
data_processed = preprocessor.fit_transform(data)

In [14]:
import tensorflow as tf
from tensorflow.keras import layers, models

input_dim = data_processed.shape[1]
encoding_dim = 8  # You can tune this

input_layer = layers.Input(shape=(input_dim,))

encoded = layers.Dense(encoding_dim, activation='relu')(input_layer)

decoded = layers.Dense(input_dim, activation='sigmoid')(encoded)

autoencoder = models.Model(inputs=input_layer, outputs=decoded)

autoencoder.compile(optimizer='adam', loss='mse')

history = autoencoder.fit(data_processed, data_processed, epochs=50, batch_size=256, shuffle=True, validation_split=0.2)

encoder = models.Model(inputs=input_layer, outputs=encoded)

encoded_data = encoder.predict(data_processed)

C:\Users\DELL\AppData\Local\Temp\ipykernel_3396\2526310670.py:1: RuntimeWarning: coroutine 'Server.serve' was never awaited
  import tensorflow as tf
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

Epoch 1/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 0.5311 - val_loss: 0.4705
Epoch 2/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.5160 - val_loss: 0.4329
Epoch 3/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.5251 - val_loss: 0.3938
Epoch 4/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.4528 - val_loss: 0.3547
Epoch 5/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.3906 - val_loss: 0.3211
Epoch 6/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.4098 - val_loss: 0.2966
Epoch 7/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.3996 - val_loss: 0.2790
Epoch 8/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.3774 - val_loss: 0.2649
Epoch 9/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 0.3144 - val_loss: 0.2525
Epoch 10/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.4024 - val_loss: 0.2416
Epoch 11/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.3246 - val_loss: 0.2321
Epoch 12/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.3919 - val_loss: 0.2236
Epoch 13/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.3726 - val_loss: 0.2160
Epoch 14/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2574 - val_loss: 0.2091
Epoch 15/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.3068 - val_loss: 0.2028
Epoch 16/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.2754 - val_loss: 0.1971
Epoch 17/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 0.3035 - val_loss: 0.1921
Epoch 18/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 0.2317 - val_loss: 0.1876
Epoch 19/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step - loss: 0.2939 - val_loss: 0.1838
Epoch 20/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2583 - val_loss: 0.1805
Epoch 21/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.2272 - val_loss: 0.1777
Epoch 22/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 0.2407 - val_loss: 0.1753
Epoch 23/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.2247 - val_loss: 0.1733
Epoch 24/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2799 - val_loss: 0.1716
Epoch 25/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.3127 - val_loss: 0.1701
Epoch 26/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2329 - val_loss: 0.1688
Epoch 27/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2922 - val_loss: 0.1676
Epoch 28/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.3249 - val_loss: 0.1665
Epoch 29/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.1898 - val_loss: 0.1655
Epoch 30/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2102 - val_loss: 0.1645
Epoch 31/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2264 - val_loss: 0.1636
Epoch 32/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.1916 - val_loss: 0.1628
Epoch 33/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.2190 - val_loss: 0.1620
Epoch 34/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2334 - val_loss: 0.1612
Epoch 35/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.1987 - val_loss: 0.1605
Epoch 36/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.1927 - val_loss: 0.1599
Epoch 37/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2981 - val_loss: 0.1593
Epoch 38/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2383 - val_loss: 0.1587
Epoch 39/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2535 - val_loss: 0.1582
Epoch 40/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2080 - val_loss: 0.1577
Epoch 41/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2162 - val_loss: 0.1573
Epoch 42/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.2441 - val_loss: 0.1569
Epoch 43/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2104 - val_loss: 0.1566
Epoch 44/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.1815 - val_loss: 0.1562
Epoch 45/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.1827 - val_loss: 0.1559
Epoch 46/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.2367 - val_loss: 0.1557
Epoch 47/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.1719 - val_loss: 0.1554
Epoch 48/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.2382 - val_loss: 0.1552
Epoch 49/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 0.1706 - val_loss: 0.1549
Epoch 50/50
49/49 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 0.1719 - val_loss: 0.1547
486/486 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step

In [15]:
encoded_data = encoder.predict(data_processed)

# Checking the shape of the encoded data to ensure it's reduced dimensionality
print(f"Encoded data shape: {encoded_data.shape}")

486/486 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step
Encoded data shape: (15549, 8)

In [16]:
from sklearn.cluster import KMeans

# Setting the number of clusters, you can tune this based on your analysis
n_clusters = 4  # This is an initial guess, can be increased or decreased
kmeans = KMeans(n_clusters=n_clusters, random_state=42)

# Performing clustering on the encoded data
customer_segments = kmeans.fit_predict(encoded_data)

# Adding the cluster labels (segments) back to the original dataset
data['customer_segment'] = customer_segments

# Checking the updated dataset
data.head()

,payment_type,profit_per_order,sales_per_customer,category_id,customer_city,customer_country,customer_id,customer_segment,customer_state,customer_zipcode,...,order_state,order_status,product_card_id,product_category_id,product_price,shipping_mode,label,shipment_duration,total_sales_per_customer,orders_per_customer
0,DEBIT,34.448338,92.49099,9.0,Caguas,Puerto Rico,12097.6830,1,PR,725.0000,...,Vienna,COMPLETE,191.0,9.0,99.99,Standard Class,-1,3170.0,92.49099,1
1,TRANSFER,91.193540,181.99008,48.0,Albuquerque,EE. UU.,5108.1045,2,CA,92745.1600,...,Buenos Aires,PENDING,1073.0,48.0,199.99,Standard Class,-1,3170.0,181.99008,1
2,DEBIT,8.313806,89.96643,46.0,Amarillo,Puerto Rico,4293.4478,1,PR,2457.7297,...,Nord-Pas-de-Calais-Picardy,COMPLETE,1014.0,46.0,49.98,Second Class,1,3170.0,89.96643,1
3,TRANSFER,-89.463196,99.15065,17.0,Caguas,Puerto Rico,546.5306,3,PR,725.0000,...,Santa Ana,PROCESSING,365.0,17.0,59.99,Second Class,0,3170.0,99.15065,1
4,DEBIT,44.722590,170.97824,48.0,Peabody,EE. UU.,1546.3980,1,CA,95118.6000,...,Illinois,COMPLETE,1073.0,48.0,199.99,Standard Class,1,3170.0,170.97824,1

In [17]:
import seaborn as sns
import matplotlib.pyplot as plt

# Visualizing the distribution of customer segments
sns.countplot(x='customer_segment', data=data)
plt.title('Distribution of Customer Segments')
plt.show()

C:\Users\DELL\AppData\Local\Temp\ipykernel_3396\40608678.py:7: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [18]:
# Selecting only numeric columns for aggregation
numeric_columns = data.select_dtypes(include='number').columns

# Performing segment analysis by calculating the mean of numeric columns for each customer segment
segment_analysis = data.groupby('customer_segment')[numeric_columns].mean()

# Displaying the segment analysis
print(segment_analysis)

                  profit_per_order  sales_per_customer  category_id  \
customer_segment
0                        13.437484          343.241029    37.123566
1                        25.307764          139.445463    29.978773
2                        26.533012          139.576864    30.386290
3                        22.145682          139.688273    29.787324

                  customer_id  customer_segment  customer_zipcode  \
customer_segment
0                 6940.542799               0.0      34970.049203
1                 6393.498801               1.0      35111.185671
2                 6582.051730               2.0      45885.404202
3                 6537.816166               3.0      23464.669162

                  department_id   latitude  longitude  order_customer_id  ...  \
customer_segment                                                          ...
0                      5.985480  29.368235 -84.207855        6916.275985  ...
1                      5.258707  29.607007 -84.266602        6402.721018  ...
2                      5.299324  33.098677 -89.939649        6596.847142  ...
3                      5.258621  25.815754 -78.412689        6544.480974  ...

                       sales  order_item_total_amount  order_profit_per_order  \
customer_segment
0                 377.360783               341.263897               11.774115
1                 156.978597               139.714036               25.679403
2                 156.584824               140.024422               26.280079
3                 157.206697               140.053827               21.899590

                  product_card_id  product_category_id  product_price  \
customer_segment
0                      815.728989            37.042248     299.052734
1                      650.703198            29.933381      96.982519
2                      659.611433            30.259682      95.252834
3                      648.147566            29.744177      97.426455

                     label  shipment_duration  total_sales_per_customer  \
customer_segment
0                 0.338422             3170.0                352.149002
1                 0.328704             3170.0                139.445463
2                 0.372143             3170.0                139.576864
3                 0.361435             3170.0                139.688273

                  orders_per_customer
customer_segment
0                            1.021436
1                            1.000000
2                            1.000000
3                            1.000000

[4 rows x 28 columns]

In [19]:
# Analyzing non-numeric columns ( payment_type) for each segment
payment_type_counts = data.groupby('customer_segment')['payment_type'].value_counts()
print(payment_type_counts)

customer_segment  payment_type
0                 DEBIT           1180
                  TRANSFER         819
                  PAYMENT          729
                  CASH             351
1                 DEBIT           4968
2                 PAYMENT         2774
                  TRANSFER         944
                  CASH             439
3                 TRANSFER        2033
                  CASH             966
                  PAYMENT          346
Name: count, dtype: int64